

body{
background-color:rgb(149, 158, 165);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: medium;
font-weight: solid 1px;
color: blueviolet;

}

head {
background-color:yellow;}

.smallPicture {
max-width: 80%;
border: solid 2px;

}

.content {
  max-width: 500px;
    margin: auto;
}

.Contact {
max-width: 65%;
border: solid 2px;
}

.nogotAnnat{
max-width:30%
max-width: 500px;
margin: auto;
}

.LOGO2 {

background-repeat: no-repeat;
background-position: center;
background-size: cover;
margin-right:200px;
}
