

body{
background-color:lightgrey;
}

head {
background-color:yellow;}

.smallPicture {
max-width: 80%;
}

.content {
  max-width: 500px;
    margin: auto;
}

.Contact {
max-width: 65%;
}

.nogotAnnat{
max-width:30%
 max-width: 500px;
    margin: auto;
}
