<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin sida</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>
    <!-- <p th:text="${'Logged in as: ' + ${session.username}"></p> -->
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
</head>
<body>
<h1>Admin sida</h1>
</body>
</html>