<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>cart</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <!-- <p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>-->
    <!-- <p th:text="${'Logged in as: ' + ${session.userName}"></p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form> -->
</head>
<body>
<h1>Cart</h1>
<br>
<br>
<form action="http://localhost:8080/unicorns">
    <input type="submit" value="Go back" />
</form>
<br>
<div class="content" th:if="${session.unicornCart} == null">
    <div class="content" th:if="${totalAmount} == 0">
    <p>Your cart is empty</p>
    <br>
    <p>Do you want to see our unicorns?</p>
    <form action="http://localhost:8080/unicorns">
        <input type="submit" value="Go to unicorns" />
    </form>
    </div>


</div>
<div class="content" th:if="${session.unicornCart} != null">
    <div class="content" th:if="${totalAmount} != 0">
    <tr th:each="unicorn: ${session.unicornCart}">
        <td th:text="${unicorn.name}" />
        <td th:text="${unicorn.price}" />
        <!--th:object="${unicorn}"  -->
                <form th:action="@{'/cart' + '?id=' + ${unicorn.id}}" method="post">

             <input type="submit" value="Delete">
         </form>
         <br>
     </tr>
     <br>
        <div th:if="${totalAmount} == null">
            <p>Total amount: $0</p>
        </div>
     Total amount: <p th:text="${totalAmount}"></p>
    </div>
    <form action="http://localhost:8080/checkout">
        <input type="submit" value="Checkout" />
    </form>
    <br>
 </div>

 </body>
 </html>



<!-- <input type="hidden" th:value="${unicorn.id}">-->