<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">

</head>
<body>
<h1>Welcome to The Unicorns!</h1>
<img class="LogoType" th:src="'images/LOGO.png'">
<h2>- We bring the magic to you -</h2>


<form th:action="@{/login}" method="post">
    Username: <input type="text" name="username">
    Password: <input type="password" name="password">
    <input type="submit" value="Log in">
   <!-- <div th:if="${param.error}">
        Invalid username and password.
    </div>-->
</form>
</body>
</html>