<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>unicorns</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <!-- <p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p>-->
    <div th:if="${session.username} != null">
    <p th:text="'Logged in as: ' + ${session.username}"></p>
        <form th:action="@{/profile}" method="get">
            <input type="submit" value="Edit profile"/>
        </form>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    </div>
    <div th:if="${session.username} == null">
        <form th:action="@{/login}" method="post">
    <input type="submit" value="Log in"/>
    </form>
    </div>
    <div class="toCart" th:if="${session.amount} != null">
        <p th:text="'Amount in cart: ' + ${session.amount}"></p>
        <a href="/cart">To cart</a>
    </div>


</head>
<body>

<div class="content">

    <img class="Contact" th:src="'images/LOGO.png'">
    <br>
    Here you can look through all of our unicorns that <br> are available at the moment.
    If you're searching for <br>something special, don't hesitate to contact us.
    <br>
    <br>
    <br>
<br>
    <br>
    <div th:each="unicorn : ${unicorns}">
        <div><img class="smallPicture" th:src="'images/' + ${unicorn.name} + '.png'"></div>
        <div class=""><a th:href="'/unicorn' + '?id=' + ${unicorn.id}" th:text="${unicorn.name}"></a></div>
        <div th:text="'$' + ${unicorn.price}"></div>
        <br>
        <br>


    </div>
    <h2>Cant find what you are looking for?</h2>
    <img class="Contact" th:src="'images/ContactUs.png'">
</div>
</body>
</html>
