<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>unicorn</title>
    <link rel="stylesheet" href="../static/style.css" th:href="'/style.css'">
    <!-- <p th:text="${'Logged in as: ' + #httpServletRequest.remoteUser}"></p> -->
    <div th:if="${session.username} != null">
        <p th:text="'Logged in as: ' + ${session.username}"></p>
        <form th:action="@{/profile}" method="get">
            <input type="submit" value="Edit profile"/>
        </form>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout"/>
        </form>
    </div>
    <div th:if="${session.username} == null">
        <form th:action="@{/login}" method="post">
            <input type="submit" value="Log in"/>
        </form>
    </div>
    <div class="toCart" th:if="${session.amount} != null">
        <p th:text="'Amount in cart: ' + ${session.amount}"></p>
        <a href="/cart">To cart</a>
    </div>
</head>
<body>
<br>

<form action="http://localhost:8080/unicorns">
    <input type="submit" value="Go back" />
</form>

<div class="content">

<h1 th:text="${unicorn.name}"></h1>

<img class="smallPicture" th:src="'images/' + ${unicorn.name} + '.png'">

<table>
    <tr>
        <th>Name: </th>
        <th th:text="${unicorn.name}"></th>
    </tr>
    <tr>
        <th>Age: </th>
        <th th:text="${unicorn.age}"></th>
    </tr>
    <tr>
        <th>Price: </th>
        <th th:text="'$' + ${unicorn.price}"></th>
    </tr>
    <tr>
        <th>Color: </th>
        <th th:text="${unicorn.color}"></th>
    </tr>
    <tr>
        <th></th>
        <th th:text="${unicorn.isHorn} ? ${unicorn.name} + ' has a horn.' : ${unicorn.name} + ' does not have a horn.' "></th>
    </tr>
    <tr>
        <th></th>
        <th th:text="${unicorn.isFlyAble} ? ${unicorn.name} + ' can fly.' : ${unicorn.name} + ' cannot fly.' "></th>
    </tr>
</table>

    <!-- <button type="button">Add to cart</button>-->


<form th:action="@{'/unicorn' + '?id=' + ${unicorn.id}}" method="post">

    <input type="submit" value="Add to cart">
</form>

</div>

</body>
</html>